@charset 'utf-8';

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    font-size: 62.5%;
    --main-color: #ed1c24;
    --bg-color: #fff6ea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

::selection {
    background: var(--main-color);
    color: black;
}

body {
    background: var(--bg-color);
    font: 1.6rem/1.5 "Pretendard", sans-serif;
    word-break: keep-all; /* wbka */
    margin: 0 auto;
    overflow-x: hidden; /* ovxh */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--main-color);
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner {
    width: 132rem;
    margin: 0 auto;
    /* background: rgb(243, 243, 243); */
}

nav {
    gap: 37.4rem;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#header nav {
    height: 15.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    display: block;
    width: 17.5rem;
    height: 4.7rem;
    margin-left: 0;
    background: url(../img/logo-2.svg) no-repeat 0 0 / contain;
}

.gnb {
    color: #fff;
    display: flex;
    gap: 10.5rem;
    /* margin-left: 0 auto; */
}

.gnb li {
    font-weight: 300;
    font-size: 2.2rem;
    text-align: center;
}

.gnb-menu {
    color: #fff;
    font-weight: 600;
    font-size: 2.2rem;
    display: flex;
    gap: 3rem;
}
footer {
    margin-top: 19rem;
    background-color: var(--main-color);
    padding: 9.2rem 0;
    color: #fff;
}

.foot-inner {
    width: 157rem;
    margin: auto;
    /* border: 1px solid #000; */
}

.foot-logo {
    display: block;
    width: 17.5rem;
    height: 4.9rem;
    background: url(../img/logo-3.png) no-repeat 0 0;
}

.foot-con-bottom {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
}

.foot-menu ul {
    display: flex;
    margin-left: -19px;
}

.foot-menu ul li a:hover {
    color: #fff;
}

.foot-menu ul li a {
    display: block;
    padding: 10px 19px;
    /* border: 1px solid #ff0; */
}

.foot-menu p {
    margin-top: 5px;
}

.foot-Language {
    width: 28rem;
    height: 6.4rem;
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.foot-Language::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: url(../img/slider-icon.png) no-repeat 0 0;
}

/* 서브페이지 */

.business-menu {
    position: relative;
    width: 192rem;
    overflow: hidden;
    margin: 0 auto;
    color: #fff;
}

.business figure {
    display: flex;
    width: 100%;
    transition: transform 0.4s ease-out;
}

.business-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.business-title h2 {
    font-weight: 600;
    font-size: 5rem;
}
.business-title p {
    font-weight: 300;
    font-size: 2.4rem;
    margin-top: 2rem;
}

@media (max-width: 1024px) {
    .inner {
        width: 82rem;
        background: skyblue;
    }

    nav {
        gap: 15rem; /* 로고와 메뉴 간 간격 줄이기 */
    }

    .logo a {
        width: 14rem; /* 로고 크기 줄이기 */
        height: 4rem;
    }

    .gnb {
        gap: 4rem; /* 메뉴 아이템 간 간격 줄이기 */
    }

    .gnb li,
    .gnb-menu {
        font-size: 1.8rem;
    }

    footer {
        padding: 4.6rem 0;
    }

    .foot-inner {
        width: 100%; /* 가로폭 100% */
        padding: 0 6rem; /* 좌우 여백 추가 */
    }

    .foot-con-bottom {
        margin-top: 2rem; /* 상단 간격 줄이기 */
        display: flex;
        justify-content: space-between; /* 가로로 배치 및 간격 조절 */
        align-items: center; /* 세로 가운데 정렬 */
    }

    .foot-menu ul {
        display: flex;
        gap: 1rem; /* 메뉴 아이템 간 간격 줄이기 */
    }

    .foot-Language {
        width: 16rem;
        height: 4.4rem;
        padding: 0 3rem; /* 내부 패딩 조절 */
    }

    .foot-Language p {
        margin-top: 2.2rem;
        visibility: hidden;
        position: relative;
    }
    .foot-Language p::after {
        content: "한국어"; /* 텍스트를 "한국어"로 변경 */
    }

    .foot-Language p::after {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }

    /* 서브페이지 */

    .business-menu {
        width: 100%;
    }

    .business-menu figure {
        height: 163rem;
    }

    .business-title {
        width: 100%;
    }

    .business-title h2 {
        font-size: 6.6rem;
    }

    .business-title p {
        width: 90%;
        font-size: 3rem;

        margin: 0 auto;
    }
}

/* 모바일 */
@media screen and (max-width: 400px) {
    .inner {
        width: 29.6rem;
        background: skyblue;
    }

    /* 헤더를 .visual의 너비와 동일하게 설정하고 가운데 정렬 */
    #header {
        width: 40rem;
        margin-top: 4rem; /* 약간 아래로 이동 */
    }

    #header nav {
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: flex-start; /* 로고와 아이콘을 왼쪽 정렬 */
        gap: 7rem; /* 로고와 아이콘 사이의 거리 약간 조정 */
    }

    .logo a {
        width: 18rem; /* 로고 크기 조정 */
        height: 6rem;
        margin-left: 1rem;
    }

    .gnb li,
    .gnb-menu li {
        display: none;
    }

    /* 모바일용 아이콘 */
    .header-icon {
        width: 4rem;
        height: 4rem;
        background: url("../img/header-icon.svg") no-repeat center;
        margin-left: auto; /* 아이콘을 왼쪽으로 이동 */
    }

    /* footer */

    footer {
        margin-top: 6rem;
    }

    .foot-inner {
        width: 100%;
        text-align: center;
    }

    .foot-logo {
        width: 10rem; /* 로고 크기 지정 */
        height: auto; /* 이미지 비율 유지 */
        margin: 0 auto; /* 가로로 가운데 정렬 */
        background: url(../img/logo-3.png) no-repeat center; /* 이미지 경로 확인 */
        background-size: contain; /* 이미지 크기 조정 */
    }

    .foot-con-bottom {
        font-size: 1rem;
        display: flex;
        justify-content: center; /* 가로 가운데 정렬 */
        align-items: center; /* 세로 가운데 정렬 */
    }

    .foot-menu ul {
        gap: 0;
        margin: 0;
    }

    .foot-Language {
        display: none;
    }
}
